.page {
    background: #F3F2F2;
}

.header {
    background-color: #F3F2F2;
    
}


.header__menu-link {
    margin-right: 30px;
    text-decoration: none;
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #000000;
}

.header__menu-link_hover:hover {
    color: #224CFF;
    transition: 0.1s linear;
}

.header__menu-links {
  margin: 0 auto;
  padding-top: 39px;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  cursor: pointer;
  align-items: baseline;
}

.header__menu-profile {
    width: 20px;
    height: 20px;
    padding-left: 20px;
}

.header__link-profile {
    width: 30px;
    height: 30px;
}

.header__link-burge_type_hide {
    width: 30px;
    height: 20px;
    display: none;
}



.header__menu-search {
    width: 20px;
    height: 20px;
    border-right: 0.7px solid #A7A6A6;
    margin: auto;
    padding-right: 20px;

}


.header__link-search {
    width: 30px;
    height: 30px;
}

.header__link-burge_type_hide {
    width: 30px;
    height: 20px;

}

.header__order {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .header__menu-link_type_hide {
        display: none;
    }

    .header__order {
        order: -1;
        padding: 0;
    }

    .header__menu-search {
      border: none;
    }

    .header__menu-title {
        order: 2;
    }

    .header__link-burge_type_hide {
        display: flex;
    }

    .header__box-menu {
        display: none;
    }
  }


.header__box-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

}
.header__menu-title {
    font-family: Proto Grotesk Web Light;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #224CFF;
    padding: 0;
    margin: 0;
    
    cursor: pointer;
}


.header__title:hover {
    color: #2E2468;
    transition: 0.1s linear;
}



.frame-container {
    background: #F3F2F2;
}

.frame-container_type_calendar {
    padding-bottom: 120px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .frame-container_type_calendar {
        padding-bottom: 50px
    }
  }

.frame-container__title {
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 74px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .frame-container__title {
      font-size: 37px;
      line-height: 39px;
    }
  }

.frame-container__title_type_calendar {
    padding-top: 85px;
}

.frame-container__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
}


.frame-container__button {
    background-color: #F3F2F2;
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    width: 104px;
    height: 48px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    color: #000000;
    cursor: pointer;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .frame-container__button {
      font-size: 12px;
      line-height: 17px;
      padding: 11px 15px;
    }

    .frame-container__button_type_calendar {
        padding: 11px 15px;
    }
  }

.frame-container__button_type_active {
    background-color: #000000;
    min-width: max-content;
    color: #F3F2F2;
}

.frame-container__button_type_calendar {
    min-width: max-content;
    padding: 13px 20px;
}



.calendar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
    grid-gap: 30px;
    max-width: 1770px;
    margin: 0 auto;
    padding: 0;
    background-color: #F3F2F2;
  }

  @media screen and (max-width: 1920px) {
    .calendar-grid {
      max-width: 1770px;
    }
  }

  @media screen and (max-width: 1875px) {
    .calendar-grid {
      max-width: 1170px;
    }
  }

  @media screen and (max-width: 1185px) {
    .calendar-grid {
      grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
      max-width: 1170px;
    }
  }

  @media screen and (max-width: 1024px) {
    .calendar-grid {
      max-width: 770px;
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .calendar-grid {
      max-width: 370px;
      padding: 0;
    }
  }

  @media screen and (max-width: 320px) {
    .calendar-grid {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      grid-gap: 30px;
      max-width: 290px;
      padding: 0;
    }
  }
  

  

.calendar-grid__item {
    background: #FFFFFF;
    border-radius: 30px;
    max-height: 414px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
    padding: 30px;
}

@media screen and (max-width: 1024px) {
    .calendar-grid__item {
      padding: 15px;
    }
  }


.calendar-grid__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    margin: 0;
}

.calendar-grid__who {
    font-family: PT Root UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #464646;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .calendar-grid__who {
        font-size: 12px;
        line-height: 17px;
    }
  }

.calendar-grid__month {
    font-family: PT Root UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #000000;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .calendar-grid__month {
        font-size: 12px;
        line-height: 17px;
    }
  }

.calendar-grid__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;

}

.calendar-grid__title {
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    color: #000000;
    max-width: 320px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .calendar-grid__title {
        font-size: 19px;
        line-height: 23px;
    }
  }

.calendar-grid__day {
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    line-height: 100px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -2px;
    color: #000000;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .calendar-grid__day {
        font-size: 60px;
        line-height: 60px;
    }
  }

.calendar-grid__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.calendar-grid__text {
    font-family: PT Root UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #1A1A1A;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #A7A6A6;
}

@media screen and (max-width: 1024px) {
    .calendar-grid__text {
        font-size: 12px;
        line-height: 17px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
  }

.calendar-grid__text:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.calendar-grid__text:first-of-type {
    padding-top: 0;
}


.calendar-grid__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.calendar-grid__button-save {
    background-color: transparent;
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    width: 104px;
    height: 48px;
    border: 1px solid #224CFF;
    box-sizing: border-box;
    border-radius: 100px;
    color: #224CFF;;
    cursor: pointer;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 80px;
    margin: 0;
    margin-right: 15px;
}

@media screen and (max-width: 1024px) {
    .calendar-grid__button-save {
        font-size: 12px;
        line-height: 17px;
    }
  }

.calendar-grid__button-save_type_active {
    color: #A7A6A6;
    border: 1px solid #A7A6A6;;
}

@media screen and (max-width: 1024px) {
    .calendar-grid__button-save_type_active {
        font-size: 12px;
        line-height: 17px;
    }
  }

.calendar-grid__left-items {
    font-family: PT Root UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #000000;
}

@media screen and (max-width: 1024px) {
    .calendar-grid__left-items {
        font-size: 12px;
        line-height: 17px;
    }
  }

.calendar-grid__button-more {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.calendar-grid__button-img {
    width: 48px;
    height: 48px;
}

.calendar-grid__wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.footer {
    background-color: #2E2468;
    
}

.footer__wraper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 80px;
    max-width: 1000px;
}




.footer__element {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.footer__wraper-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__text {
    font-family: PT Root UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #F3F2F2;
    margin-right: 30px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}


.footer__text:last-of-type {
    margin-right: 0;
}


.footer__text_type_span {
    text-decoration: underline;
    cursor: pointer;
}
    
.footer__text_type_span:hover {
    color: #224CFF;
    transition: 0.1s linear;
}

.footer__logo-link {
    display: flex;
    max-height: 76px;
    max-width: 415px;
    margin: 0;
}

.footer__logo-img {
    height: 76px;
    width: 415px;
    padding: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-right: 85px;
    border: none;
}

@media screen and (max-width: 1024px) {
    .footer__logo-img {
        order: -1;
    }
  }

.footer__list-item{
    margin-top: 0;
    margin-bottom: 20px;
}

.footer__list-item:last-of-type {
    margin-bottom: 0;
}

.footer__links{
    margin: 0;
    padding: 0;
    list-style-type: none;
}



.footer__link {
    font-family: Proto Grotesk Web Light;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #F3F2F2;
    flex: none;
    align-self: stretch;
    cursor: pointer;
}

.footer__link:hover{
    color: #224CFF;
    transition: 0.1s linear;
}

.footer__copyright {
    font-family: PT Root UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #C8D1FF;
    margin-top: 124.08px;
    margin-bottom: 12px;
    padding: 0;
}

.footer__copyright-by {
    display: flex;
    flex-direction: row;
}

.footer__button-help {
    background-color: transparent;
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    width: 140px;
    height: 48px;
    border: 1px solid #F3F2F2;
    box-sizing: border-box;
    border-radius: 100px;
    color: #F3F2F2;
    cursor: pointer;
    padding: 0;
    margin: 0;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    pointer-events: auto;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
   }

.popup_type_opened {
    visibility: visible;
    opacity: 1;
}

.popup__container {
    max-width: 770px;
    min-height: 670px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    background: #fff;
    position: relative;
    padding: 50px 100px;
   }

   @media screen and (max-width: 767px) {
    .popup__container {
      max-width: 282px;
      padding-top: 60px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 30px;
    }
  }

.popup__item {
    background: #FFFFFF;
    border-radius: 30px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
}

.calendar__paragraph {
    font-family: PT Root UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #1A1A1A;
    margin-top: 30px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .calendar__paragraph {
        font-size: 12px;
        line-height: 17px;
    }
  }

  .popup__button {
    border: none;
    cursor: pointer;
    padding: 0;
}

.popup__button_type_close {
    display: flex;
    margin: 0;
    min-width: 40px;
    min-height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background-image: url(../../images/close-sign.svg);
    object-fit: contain;
    background-size: 100%;
    z-index: 10;
}

@media screen and (max-width: 767px) {
    .popup__button_type_close  {
        right: 15px;
        top: 15px;
    }
  }



.popup__button_type_close:hover {
    opacity: 0.6;
    transition: 0.1s linear;
}

.calendar-grid__button-save_type_confirmed {
    width: 191px;
}

.calendar__text {
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin: 30px auto;
    align-content: center;
    

}

.popup__container_type_confirmed {
    padding-top: 80px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 149px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .popup__container_type_confirmed {
      padding: 0;
    }
  }

.popup_calendar__img {
    max-width: 413px;
    max-height: 169px;
    margin: 0 auto;

}
.popup__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.button_type_calendar-popup {
    width: 215px;
    height: 48px;
    margin: 0 auto;
}